<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:requestLegacyExternalStorage="true">

    <uses-feature android:name="android.hardware.camera.any"
        android:required="false"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>

    <application
        android:name=".ScheduleApp"
        android:usesCleartextTraffic="false"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/favicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="34"
        android:minSdkVersion="26">

        <meta-data
            android:name="ru.rustore.sdk.pushclient.default_notification_icon"
            android:resource="@drawable/favicon" />

        <meta-data
            android:name="ru.rustore.sdk.pushclient.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:label="@string/schedule"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name=".views.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName=".views.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity"/>
        </activity>

        <activity
            android:name=".views.ShareAppActivity"
            android:exported="false"
            android:label="@string/share_app"
            android:parentActivityName=".views.SettingsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.SettingsActivity"/>
        </activity>

        <activity
            android:name=".views.WidgetSettingsActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".views.ScheduleItemActivity"
            android:exported="false"
            android:label="@string/day_table"
            android:parentActivityName=".views.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>

        <activity
            android:name=".views.NotesActivity"
            android:exported="false"
            android:label="@string/notes_activity"
            android:launchMode="singleTop"
            android:parentActivityName=".views.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity"/>
        </activity>

        <activity
            android:name=".views.EditNoteActivity"
            android:exported="false"
            android:label="@string/add_note"
            android:screenOrientation="portrait"
            android:parentActivityName=".views.NotesActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.NotesActivity"/>
        </activity>

        <activity
            android:name=".views.PhotoViewActivity"
            android:exported="false"/>

        <activity
            android:name=".views.ImportActivity"
            android:label="@string/import_activity"
            android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ghostwalker18.schedule.timefilesprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <receiver
            android:name=".ScheduleWidget"
            android:exported="false">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_info"/>
        </receiver>

        <service
            android:name=".notifications.PushNotificationsService"
            android:exported="true"
            tools:ignore="ExportedService">

            <intent-filter>
                <action android:name="ru.rustore.sdk.pushclient.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">

            <meta-data
                android:name="autoStoreLocales"
                android:value="true"/>
        </service>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="mailto" android:host="*" />
        </intent>
    </queries>
</manifest>